main{
    text-align: center;
}
.InfoPrin{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.InfoPrin img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid rgb(46, 41, 41);

}
.InfoPrin p{
font-size: 2rem;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
}


.infoper h2{
    font-size: 2rem;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
text-align: center;


}

.infoper p{
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
}
.infoper{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.infoP{
    text-align: start;
}

.BtnF{
    border: none;
    padding: 10px;
    background: rgb(46, 41, 41);
    color: white;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.BtnF:hover{
    color: cadetblue
}
.Btnx{
    display: flex;
    justify-content: end;
    margin-top: -10px;
}
.Btnx p{
   
    background: rgb(46, 41, 41);
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.Btnx p:hover{
    color: cadetblue
}

.modal{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s ;
  
    

}

.modal h2 {
    margin: 0px;
    padding: 0px;
}

.modal__container{
    width: 90%;
    margin: auto;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    background-color: aliceblue;
    padding: 1em;
    
    transform: var(--transform);
    transition: var(--transition);
    


}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0) ;
  
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}


.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #f26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s ;
}


.modal__close:hover{
    color:#f26250 ;
    background-color:#fff ;
}

.flex-input{
    display: grid;
    justify-items: end;
    justify-content: center;
    margin: 6px;
}

.inputED{
    text-align: center;
}
.inputED input{
    margin: 5px;
    padding: 5px;
}

.modal__container button{
    margin-top: 20px;
}

