*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
main{
    background-image: url(./4.png);
    background-size: cover;
    height: 500px;
}

#accion-register{
 
    padding-left: 30px;
    padding-right: 30px;

}

.login-registro{

    display: flex;
    justify-content:end;
    align-items: center;
    margin-top: auto;
    margin-right: 40px;
    

}


.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .5);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.2s ease;
}

.wrapper .form-box {
    width: 100%;
    padding: 25px 45px;
}

.wrapper.active {
   
    width: 500px;
    padding: 20px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease, height 0.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transform: translateX(-600px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.form-box h2{
    
    font-size: 2em;
    color: #132938;
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #162938;
    margin: 20px 0px;
   
   

}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px ;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 30px 0 5px;


}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 40px;

}


.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px ;

}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;

}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

    cursor: pointer;

}

.btn :hover{
    color: aqua;
}



.login-register{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    color: #162938;
    font-weight: 600;
    align-items: center;
    
}
.login-register a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 200;
    border: #132938 solid;
    padding: 2px;
    border-radius: 5px;
    background-color: #132938;
}



.checkB{
    border-bottom: 2px solid #14af36;
}

.falseB{
    border-bottom: 2px solid #8d0b0b;
}

.normalB{
    border-bottom: 2px solid #162938;
}

.lugaralert{
    display: flex;
    justify-content: end;
    position: relative;
    height: 54px;
}

.notificacion p{
   
    color: #ffffff;
   
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

.notificacionf {
    background-color: #8d0b0b;
}

.notificacionV{
    background-color: #14af36;
}
 
.nombreA{
    display: flex;
    gap: 10px;
}
