<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <<link rel="stylesheet" href="/Componentes/necolas.github.io_normalize.css_8.0.1_normalize.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="/Componentes/HeaderStyle.css">
    <link rel="stylesheet" href="./css/stylelista.css">
    <script src="https://kit.fontawesome.com/d0b05c108e.js" crossorigin="anonymous"></script>

</head>

<body>

    <section id="header"></section>


    <div class="flex-posicion">
        <div class="barra-lateral">
            <nav class="menu d-flex  justify-content-center flex-wrap">
                <a href="./index.html" ><i class="fa-solid fa-heart" style="color: #ffffff;"></i><span>Favoritos</span></a>
                <a href="./status.html" ><i class="fa fa-hourglass-start"></i><span>Status de Compra</span></a>
                <a href="./facturacion.html" ><i class="fa fa-usd"></i><span>Facturacion</span></a>
                <a href="./ConfiP.html" ><i class="fa fa-cog"></i><span>Configuracion de Perfil</span></a>
            </nav>
        </div>
        
        <main class="factura-posicion">
    
            <h1>Pedido a Pagar</h1>

            <div class="infoTotal-posc">
                <div>
                    <h4>metodode pago</h4>
                    <select name="" id="">
                        <option value="valor1">PayPal</option>
                        <option value="valor2">Opción 2</option>
                        <option value="valor3">Opción 3</option>
                        
                    </select>

                </div>

                <div class="importeTotalF passPay" >

                </div>

            </div>


            <div class="lista-factura" >
                <table id="tablaFac">


                </table>



            </div>
        


        </main>
    </div>






    <script  src="/Componentes/Header.js"></script>
    <script src="./facturacion.js"></script>
</body>

</html>