<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/Componentes/necolas.github.io_normalize.css_8.0.1_normalize.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="/Componentes/HeaderStyle.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/d0b05c108e.js" crossorigin="anonymous"></script>


</head>

<body>

    <section id="header"></section>



    <div class="flex-posicion">
        <div class="barra-lateral">
            <nav class="menu d-flex justify-content-center flex-wrap">
                <a href="./index.html" ><i class="fa-solid fa-heart" style="color: #ffffff;"></i><span>Favoritos</span></a>
                <a href="./status.html" ><i class="fa fa-hourglass-start"></i><span>Status de Compra</span></a>
                <a href="./facturacion.html" ><i class="fa fa-usd"></i><span>Facturacion</span></a>
                <a href="./ConfiP.html" ><i class="fa fa-cog"></i><span>Configuracion de Perfil</span></a>

            </nav>
        </div>
        <main>
            <section id="product1" >
                <h1>Favoritos</h1>
                <!-- Contenedor de elementos -->
                <div class="pro-container" >

                </div>

            </section>

    

        </main>
    </div>




    <script  src="/Componentes/Header.js"></script>
    <script src="./favoritos.js"></script>
</body>

</html>