<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Componente/necolas.github.io_normalize.css_8.0.1_normalize.css">
    <link rel="stylesheet" href="/Componentes/HeaderStyle.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/d0b05c108e.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <header id="header"></header>

  <main>
    <div class="titulo">
      
    </div>

    <section id="product1" class="section-p1">
        <!-- Contenedor de elementos -->
        <div class="pro-container" >

        </div>

    </section>


  </main>

  
  <script src="./busque.js"></script>
  <script  src="/Componentes/Header.js"></script>


</body>
</html>