<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./adminON.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GS Administrador</title>
    <link rel="stylesheet" href="css/tailwind.min.css">
</head>
<body class="min-h-100 bg-gray-200">
    <div class="md:flex min-h-screen md:align-top">
        <aside class="md:w-2/5 lg:w-2/5 xl:w-1/5 bg-gray-600 px-5 py-10">
            <h1 class="uppercase text-white tracking-wide text-2xl  font-bold mt-2">GS Administrador</h1>
            <p class="mt-10 text-white">Administra tus productos</p>
            <nav class="mt-8">
                <a  
                    href="index.html" 
                    class="px-3 py-1 text-white block hover:bg-blue-700 hover:text-yellow-400 "
                >Productos</a>
                <a 
                    href="nuevo-cliente.html" 
                    class="px-3 py-1 text-white block hover:bg-blue-900 mt-2 hover:text-yellow-400 bg-blue-700"
                >Nuevo producto</a>
                <a 
                href="/" 
                class="px-3 py-1 text-white block hover:bg-blue-900 mt-2 hover:text-yellow-400 bg-blue-700"
            >Volver a Garcia store</a>
            </nav>
        </aside> <!--sidebar-->
        <main class="md:w-3/5  xl:w-4/5 px-5 py-10 bg-gray-200">
            <h2 class="text-3xl font-light text-center">Nuevo producto</h2>

            <div class="flex flex-col mt-10 items-center">
                <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 w-10/12 md:w-8/12 lg:w-6/12">
                    <div class=" shadow overflow-hidden sm:rounded-lg border-b border-gray-200 ">
                        <form id="formulario" class="bg-white p-3" method="POST">
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">Nombre</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="Nombre"
                                    name="nombre"
                                    type="text"
                                    placeholder="Nombre Producto"
                                />
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="precio">Precio</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="Precio"
                                    name="precio"
                                    type=""
                                    placeholder="Precio Producto"
                                />
                            </div>

                            <div class="mb-4">
                                <label class="col-sm-4 col-lg-4 col-form-label">Categoria:</label>
                                <div class="col-sm-8 col-lg-8" >
                                    <select name="origen" id="Categoria" class="form-select form-select-lg mb-3 col-lg-12" aria-label=".form-select-lg example">
                                        <option value="">Seleccionar</option>
                                        <option value="Zapato">Zapato</option>
                                        <option value="Reloj">Reloj</option>
                                        <option value="Gorra">Gorra</option>
                                        <option value="Media">Media</option>
                                        <option value="Perfume">Perfume</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="Marca">Marca</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="Marca"
                                    name="Marca"
                                    type="text"
                                    placeholder="Marca Producto"
                                />
                            </div>

                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="Id">Id</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="Identificador"
                                    name="Id"
                                    type="number"
                                    placeholder="Id Producto"
                                />
                            </div>
                            <div class="mb-4">
                                <label class="col-sm-4 col-lg-4 col-form-label">Genero:</label>
                                <div class="col-sm-8 col-lg-8" >
                                    <select name="origen" id="Genero" class="form-select form-select-lg mb-3 col-lg-12" aria-label=".form-select-lg example">
                                        <option value="">Seleccionar</option>
                                        <option value="Hombre">Hombre</option>
                                        <option value="Mujer">Mujer</option>
                                 
                                    </select>
                                </div>
                            </div>

                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="file">Imagen</label>
                                <input 
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="Imagen"
                                    name="file"
                                    type="file"
                                    
                                />
                            </div>

                            <div class="mb-4">
                                <label class="col-sm-4 col-lg-4 col-form-label">Tipo:</label>
                                <div class="col-sm-8 col-lg-8" >
                                    <select name="origen" id="Tipo" class="form-select form-select-lg mb-3 col-lg-12" aria-label=".form-select-lg example">
                                        <option value="">Seleccionar</option>
                                        <option value="Running">Running</option>
                                        <option value="Basketball">Basketball</option>
                                        <option value="Skateboarding">Skateboarding</option>
                                        <option value="Futbol">Futbol</option>
                                        <option value="Otros">Otros</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="Descripcion">Descripcion</label>
                                <input 
                                    class="appearance-none border rounded w-full py-4 px-5 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="Descripcion"
                                    name="Descripcion"
                                    type="text"
                                    placeholder="Descripcion del producto"
                                />
                            </div>

                            <input
                                type="submit"
                                class="bg-blue-600 hover:bg-blue-900 w-full mt-5 p-2 text-white uppercase font-bold"
                                value="Agregar Producto"
                            />
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script src="./nuevoproducto.js" type="module"></script>
</body>
</html>